---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
...
